{% if messages %}

{% comment %} <div class="messages">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div> {% endcomment %}

    <div class="alert alert-success alert-dismissible col-md-3">
        <button class="close" type="button" data-dismiss="alert">
            <span>&times;</span>
        </button>
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </div>

{% endif %}


